<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131137777-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131137777-1');
</script>


    <meta charset="utf-8">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/image/favico.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Interest rate model, Hull White, trinomial, python financial market">

      <title>Implementation of Hull White interest rate model by trinomial tree with python</title>
    <meta name="description" content=" This website is an online application of the One-factor Hull-White model, for pricing and
                            calibration of interest rates using trinomial tree. It was done with the intention of being a practical and useful tool for the Masters'
                            students.">



    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

</head>

<style>
    table, tr td {
        border: 1px solid red
    }

    tbody {
        display: block;
        max-height: 90%;
        overflow-y: scroll;
    }

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    thead {
        width: 100%;
    }

    table {
        width: 100%;
    }

</style>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Resources</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">


                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about/">About</a>
                        </li>
                    </ul>
                </div>

            </nav>

            <br>


               <div class="row" style="margin: 1%">
                <h3>
                    Code on Github
                </h3><br>
                   The code source of the project and this web site are published on the github under the MIT Licence.<br>
                   <a href="https://github.com/fmgrlab/hull_white_model">https://github.com/fmgrlab/hull_white_model</a>
                   <br>
                </div>


            <div class="row" style="margin: 1%">
                <h3>
                    Graph structure by API
                </h3>
                <p>
                    We also setup a programming interface access (api) to provide a reusable graph structure in json
                </p>

                <b>Request Path</b> : http://fmgrlab.com/api/hullwhite/
                <br><br>
                <b>Request Parameter:</b><br><br>
                <li> volatitlity (for example  : volatitlity = 0.01</li>
                <li>maturity (for example  : maturity = 5)</li>
                <li>alpha (for example alpha = 0.1</li>
                <li>period (for example period = year</li>
                <li>Interest rate : a list of interest rate :rate=0.0509389&rate=0.0579733</li>
                <br><br>
                <b>Sample</b><br><br>

                <a href="http://fmgrlab.com/api/hullwhite/?volatility=0.01&alpha=0.1&maturity=4&period=year&rate=0.0509389&rate=0.0579733&rate=0.0630595&rate=0.0673464&rate=0.0694816">http://fmgrlab.com/api/hullwhite/?volatility=0.01&alpha=0.1&maturity=4&period=year&rate=0.0509389&rate=0.0579733&rate=0.0630595&rate=0.0673464&rate=0.0694816</a>

                <br><br>
                To test the api, we had generated  the interest rate calculated  by: 0.08 - 0.05Exp(-0.18ti. According the publication of Hull and White (1994), this corresponds approximately to the U.S. term structure at the beginning of 1994
                <br><br>
                <a href="{% url 'api_hull_white_auto'%}">http://fmgrlab.com/api/test/auto/</a>

            </div>

            <div class="row" style="margin: 1%">
                <h3>
                    Publication
                </h3><br>
                The document presented is shared online in slideshare. Follow the link below to get it
                <br><br>
                   <a href="https://www.slideshare.net/secret/HZMERsoonvvI3I"> https://www.slideshare.net/secret/HZMERsoonvvI3I</a>
                   <br><br><br>
                </div>

        </div>
    </div>

</body>
</html>